#### Pyspark Basic Introduction

In [9]:
# !pip install pyspark

In [10]:
import pyspark

In [11]:
import pandas as pd
type(pd.read_csv('test1.csv'))

pandas.core.frame.DataFrame

In [12]:
from pyspark.sql import SparkSession

In [19]:
spark=SparkSession.builder.appName('Practise').getOrCreate()

In [14]:
spark

In [15]:
df_pyspark=spark.read.csv('test1.csv')

In [22]:
df_pyspark=spark.read.option('header','true').csv('test1.csv')

In [23]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [24]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: string (nullable = true)
 |-- Experience: string (nullable = true)
 |-- Salary: string (nullable = true)

In [25]:
df_pyspark.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+